*{background-color: bisque;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:2;
}
#navbar {
    position:fixed;
    min-width: 290px;
    top:10px;
    left:10px;
    height:100%;
    border:solid brown;
    border-bottom: solid brown;
    
}
header{
    font-weight: bold;
    margin:10px;
    text-align:center;
    font-size:large;
}

#main-doc header{
    text-align:left;
    margin: 0;
}

#navbar ul {
    height: 88%;
    padding:0;
    overflow-y:auto;
    overflow-x: hidden;

}
#navbar li {
    color:brown;
    border-top: 3px solid;
    list-style: none;
    position:relative;
    cursor:help;
    width: 100%;
}
#navbar a {
    display: block;
    font-style: italic;
}
#main-doc {
    position:absolute;
    margin:20px;
    margin-bottom:10px;
}
section li{
    margin:10px;
}
code{
    display: block;
    text-align: center;
    white-space: pre-line;
    position:relative;
    background-color: brown;
    border-radius: 100px;
}

@media only screen and (max-width: 800px) {
    #navbar ul {
        border-bottom:8px solid brown;
      height: 209px;
    }
  
    #navbar {
      background-color: bisque;
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width:30%;
      max-height: 275px;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 270px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
  
    code {
      width: 100%;
      padding: 15px;
      padding-left: 10px;
      padding-right: 45px;
      min-width: 233px;
      font-weight: bold;
    }
  }